* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #a8c0ff;
  background: -webkit-linear-gradient(to right, rgba(63, 43, 150, 0.75), rgba(168, 192, 255, 0.75));
  background: linear-gradient(to right, rgba(63, 43, 150, 0.75), rgba(168, 192, 255, 0.75));
  font-family: 'Montserrat Variable', sans-serif;
  font-size: 20px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

ul, li {
  list-style: none;
}