.calendar-picker {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 24vw;
    padding: 0 1vw;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
}

.calendar-picker[data-focused='focused'] {
    border: 3px solid white;
}

.calendar-picker__date {
    font-weight: 500;
}

.calendar {
    position: absolute;
    left: 0;
    top: 6vh;
    padding: 1vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(13, 46, 105, 0.05);
    transform-origin: top;
    transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
}

.calendar[data-active='active'] {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.calendar[data-active='inactive'] {
    opacity: 0;
    transform: scale(0.6);
    visibility: hidden;
}

.calendar .react-calendar {
    border: none;
    width: 22vw;
}

.calendar .react-calendar .react-calendar__navigation {
    display: flex;
}

.calendar .react-calendar .react-calendar__navigation button {
    background-color: #ececf5;
    color: #222f60;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 30px;
    min-width: 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.calendar .react-calendar .react-calendar__navigation button:hover,
.calendar .react-calendar .react-calendar__navigation button:focus {
    background-color: #888afa;
    color: white;
    cursor: pointer;
}

.calendar .react-calendar .react-calendar__navigation button.react-calendar__navigation__next-button {
    margin-left: 5px;
}

.calendar .react-calendar .react-calendar__navigation button.react-calendar__navigation__prev-button {
    margin-right: 5px;
}

.calendar .react-calendar__viewContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.calendar .react-calendar__viewContainer .react-calendar__month-view__weekdays__weekday {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: initial;
    margin: 2vh 0 1vh 0;
    width: 40px;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    color: #222f60;
    cursor: default;
}

.calendar .react-calendar__viewContainer .react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
    overflow: hidden;
}

.calendar .react-calendar__viewContainer .react-calendar__month-view__days__day {
    border-radius: 10px;
    width: 38px;
    height: 38px;
    justify-content: center;
}

.calendar .react-calendar__viewContainer .react-calendar__month-view__days__day:hover {
    color: white;
    background-color: #888afa;
}

.calendar .react-calendar__viewContainer .react-calendar__month-view__days__day--neighboringMonth {
    color: #babdc5;
}

.calendar .react-calendar__viewContainer .react-calendar__month-view__days__day--weekend {
    color: #fa8888;
}

.calendar .react-calendar__viewContainer .react-calendar__year-view__months__month,
.calendar .react-calendar__viewContainer .react-calendar__decade-view__years__year,
.calendar .react-calendar__viewContainer .react-calendar__century-view__decades__decade {
    border-radius: 10px;
    height: 35px;
    width: calc(100% / 3);
    margin: 10px 0;

}

.calendar .react-calendar__viewContainer .react-calendar__year-view__months__month:hover,
.calendar .react-calendar__viewContainer .react-calendar__decade-view__years__year:hover,
.calendar .react-calendar__viewContainer .react-calendar__century-view__decades__decade:hover {
    color: white;
    background-color: #888afa;
}

.calendar .react-calendar__viewContainer .react-calendar__tile--now {
    background: #a8c0ff;
    color: white;
}

.calendar .react-calendar__viewContainer .react-calendar__tile--now:hover {
    background-color: #888afa;
}

.calendar .react-calendar__viewContainer .react-calendar__tile--hasActive,
.calendar .react-calendar__viewContainer .react-calendar__tile--active {
    color: white;
    background-color: #888afa;
}

.calendar .react-calendar__viewContainer .react-calendar__tile--hasActive:hover,
.calendar .react-calendar__viewContainer .react-calendar__tile--active:hover {
    background: #a8c0ff;
    color: white;
}